<!DOCTYPE html>

<html>

<head>
  <title>About</title>
    <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>Este sitio fue creado por David A. Foote. Utiliza datos de mapbox.com y darksky.net!</p>
    <img class="portrait" src="/img/David A. Foote_Swag.jpg">
  </div>
  
  {{>footer}}
</body>

</html>